:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --gradient1: linear-gradient(135deg, hsl(0, 80%, 93%), hsl(0, 80%, 86%));
  --gradient2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  --josefin-sans: "Josefin Sans", sans-serif;
}
html {
  font-size: 16px;
  background-color: hsl(0, 100%, 99%);
}
body {
  margin: 0;
  background: url("./images/bg-pattern-desktop.svg");
  background-size: contain;
  font-family: var(--josefin-sans);
  min-height: 100vh;
}
.hero-section {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-template-areas:
    "nav img"
    "text img";
  grid-template-rows: 1fr 5fr;
  overflow: hidden;
}
.hero-nav {
  grid-area: nav;
  margin-left: 11vw;
  margin-top: 3rem;
}
.hero-img {
  grid-area: img;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0% 50%;
}
.hero-text {
  grid-area: text;
  margin-left: 11vw;
  margin-right: 11vw;
}
.hero-text h1 {
  color: var(--desaturated-red);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 4.3rem;
  letter-spacing: 0.5rem;
  margin-bottom: 0;
}
.hero-text h2 {
  color: var(--dark-grayish-red);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 4.3rem;
  letter-spacing: 0.5rem;
  margin-top: 0;
  margin-bottom: 1.2rem;
  line-height: 5rem;
}
.hero-text > p {
  color: var(--desaturated-red);
  font-size: 1.05rem;
  line-height: 1.8rem;
  margin-bottom: 2rem;
}
.hero-action {
  position: relative;
  margin-bottom: 2rem;
}
.hero-action input {
  padding: 1.1rem 2rem;
  width: calc(100% - 6rem);
  border-radius: 2rem;
  border: 1px solid var(--desaturated-red);
  outline: none;
  background-color: transparent;
}
.error input {
  border: 2px solid var(--soft-red);
}
.hero-action input::placeholder {
  color: var(--desaturated-red);
}
.hero-action .error-icon {
  position: absolute;
  padding: 0.85rem 0;
  top: 0;
  right: 7rem;
  display: none;
}
.error .error-icon {
  display: block;
}
.hero-action button {
  position: absolute;
  top: 0;
  right: -1px;
  padding: 0.9rem 2rem;
  width: 6rem;
  outline: none;
  border-radius: 2.2rem;
  box-shadow: 1px 1px 20px hsl(0, 24%, 83%);
  border: none;
  background: var(--gradient2);
}
.hero-action button:hover {
  background: var(--gradient1);
}
.hero-action button:active {
  box-shadow: 1px 10px 20px hsl(0, 24%, 83%);
}
.error button {
  padding: 1rem 2rem;
}
.hero-action .error-text {
  font-size: 0.8rem;
  padding-left: 2rem;
  color: var(--soft-red);
  display: none;
}
.error .error-text {
  display: block;
}
.attribution {
  font-size: 0.7rem;
  color: var(--dark-grayish-red);
}
.attribution a {
  color: var(--desaturated-red);
}
.attribution a:hover {
  color: hsl(0, 34%, 65%);
}
@media only screen and (max-width: 500px) {
  .hero-section {
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "img"
      "text";
    background: black;
  }
}
@media only screen and (min-width: 501px) and (max-width: 920px) {
  .hero-section {
    grid-template-columns: 1fr 1fr;
  }
}
