:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --gradient1: linear-gradient(135deg, hsl(0, 80%, 93%), hsl(0, 80%, 86%));
  --gradient2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  --josefin-sans: "Josefin Sans", sans-serif;
}
html {
  font-size: 16px;
  background-color: hsl(0, 100%, 99%);
}
body {
  margin: 0;
  background: url("./images/bg-pattern-desktop.svg");
  background-size: contain;
  font-family: var(--josefin-sans);
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
}
.hero-section {
  height: 100vh;
  width: 90vw;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "nav img"
    "text img";
  grid-template-rows: 1fr 4fr;
  overflow-x: hidden;
}
.hero-nav {
  grid-area: nav;
  margin-top: 3rem;

  margin-bottom: 3rem;
}
.hero-img {
  grid-area: img;
}
.hero-desktop-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.hero-mobile-img {
  display: none;
}
.hero-text {
  grid-area: text;
  margin-right: 10vw;
}
.hero-text h1 {
  color: var(--desaturated-red);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: 0.7rem;
  margin-bottom: 0;
}
.hero-text h2 {
  color: var(--dark-grayish-red);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 4rem;
  letter-spacing: 0.7rem;
  margin-top: 0;
  margin-bottom: 1.2rem;
  line-height: 5rem;
}
.hero-text > p {
  color: var(--desaturated-red);
  font-size: 1.1rem;
  line-height: 1.8rem;
  margin-bottom: 2rem;
}
.hero-action {
  position: relative;
  margin-bottom: 3rem;
}
.hero-action input {
  padding: 1.1rem 1.5rem;
  width: calc(100% - 6rem);
  border-radius: 2rem;
  border: 1px solid var(--desaturated-red);
  outline: none;
  background-color: transparent !important;
}
.error input {
  border: 2px solid var(--soft-red);
}
.hero-action input::placeholder {
  color: var(--desaturated-red);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.hero-action .error-icon {
  position: absolute;
  padding: 0.85rem 0;
  top: 0;
  right: 7rem;
  display: none;
}
.error .error-icon {
  display: block;
}
.hero-action button {
  position: absolute;
  top: 0;
  right: -1px;
  padding: 0.9rem 2rem;
  width: 6rem;
  outline: none;
  border-radius: 2.2rem;
  box-shadow: 1px 1px 20px hsl(0, 24%, 83%);
  border: none;
  background: var(--gradient2);
}
.hero-action button:hover {
  background: var(--gradient1);
}
.hero-action button:active {
  box-shadow: 1px 10px 20px hsl(0, 24%, 83%);
}
.error button {
  padding: 1rem 2rem;
}
.hero-action .error-text {
  font-size: 0.8rem;
  padding-left: 1.5rem;
  color: var(--soft-red);
  display: none;
}
.error .error-text {
  display: block;
}
.attribution {
  font-size: 0.7rem;
  color: var(--dark-grayish-red);
}
.attribution a {
  color: var(--desaturated-red);
}
.attribution a:hover {
  color: hsl(0, 34%, 65%);
}
@media only screen and (max-width: 660px) {
  html {
    font-size: 13px;
  }
  body {
    justify-content: center;
  }
  .hero-section {
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    grid-auto-rows: min-content max-content auto;
    grid-template-areas:
      "nav"
      "img"
      "text";
  }
  .hero-img {
    height: auto;
  }
  .hero-desktop-img {
    display: none;
  }
  .hero-mobile-img {
    display: unset;
    width: 100%;
  }
  .hero-nav,
  .hero-text {
    margin-left: 12vw;
    margin-right: 12vw;
  }
  .hero-text {
    margin-top: 2rem;
    text-align: center;
  }
  .hero-action {
    text-align: left;
  }
}
@media only screen and (min-width: 661px) and (max-width: 1000px) {
  html {
    font-size: 13.5px;
  }
}
